@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    padding: 2rem;
    
  }

  #app {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.img-regular {
  border-radius: 8px;
}

b {
  font-weight: bold;
}

.button {
  background-color: #4CAF50; /* Cor verde discreta */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Transição suave para o hover */
  margin:8px;
}

.button:hover {
  background-color: #45a049; /* Cor mais escura ao passar o mouse */
}